<div class="uk-section-primary tm-section-texture">
    <div uk-height-viewport="offset-top: true; offset-bottom: true" class="uk-flex uk-section uk-section-small uk-flex-middle uk-text-center center">
        <div class="uk-width-1-1">
            <div class="uk-container">
                <h1 class="uk-margin-medium uk-text-lead">
                    Niken Tiara Nita
                </h1>
                <p class="uk-margin-medium">
                    1900016178
                </p>
                <p>
                    Dashboard of Book Store
                </p>
                <div class="uk-margin-medium">
                    <a routerLink="/login" class="uk-button uk-button-default tm-button-default uk-icon">Get Started</a>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-section-small fixed-footer">
        <div class="uk-container-expand uk-text-center uk-position-relative">
            <p>
                © Niken Tiara Nita
            </p>
        </div>
    </div>
</div>